@import '../../../../global/theme/colors';

.main{
    border: 1px solid black;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 0;
    p{
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.dia{
    width: 25px;
    margin-left: 5px;
}

.price{
    width: 100%;
    color: white;
    background-color: $main800;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 5px 0;
}

button{
    width:inherit;
    border-radius: 20px;
    padding: 10px 10px;
    width: 40%;
    text-wrap:wrap;
    text-align: center;
    color: white;
    font-weight: bold;
}

.but-set{
    width: 96%;
    display: flex;
    align-items: center;
}
.itemimage{
    width: 64px;
}

.green-button{
    background-color: $teal400;
    border: 4px solid $sky600;
}

.red-button{
    background-color: $rose500;
    border: 4px solid $pink800;
    width: 35%;
    margin-left: 5px;
}

.blue-button{
    background-color: $sky600;
    border: 4px solid $indigo800;
    width: 55%;
}