.container{
    flex-direction: column;
        
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding:  5vh 0 5vh 0vh;
    div{
        flex-direction: column;
        
        display: flex;
        align-items: center;
        width: 100%;
    }

}

img{
    height: 20vh;
    padding-bottom: 2vh;
}
h2{
    font-size: 2rem;
    color: #fff;
    margin-bottom: .5em;
    background-color: black;
    padding: 1vh;
    width: 100%;
    text-align: center;
}