<div class="container">
    <div class="info">
        <img class="main_img" src="../../../../../assets/shop-items/console.png" alt="Image">
        <div class="circle-wrap">
            <div class="circle"></div>

        </div>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description}} </p>
    </div>
    <!-- <div>
        <app-game-button [label]="'BUY'"/>

    </div> -->

    <div class="price">
        <p>
            Price: {{ item.price }} 
        </p>
        <img src="../../../../../assets/currency/dia.png" alt="">
    </div>
</div>