<div class="container">
    <div class="top">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label for="type">
               Type:<br/>
               <select id="type" formControlName="type">
                 <option value="Daily">Daily</option>
                 <option value="Weekly">Weekly</option>
                 <option value="One time">One time</option>
               </select>
            </label>
            <br/>
            <label for="title">
               Title:<br/>
               <input id="title" type="text" formControlName="title" />
            </label>
            <br/>
            <label for="description">
               Description:<br/>
               <textarea id="description" formControlName="description"></textarea>
            </label>
            <br/>
            <label for="difficulty">
               Difficulty:<br/>
               <div class="btn-group btn-group-sm" role="group" aria-label="Difficulty">
                <button type="button" class="btn btn-outline-primary" (click)="setDifficulty(1)">1</button>
                <button type="button" class="btn btn-outline-primary" (click)="setDifficulty(2)">2</button>
                <button type="button" class="btn btn-outline-primary" (click)="setDifficulty(3)">3</button>
              </div>
            </label>
            <br/>
                <label for="deadline">
                    Deadline:<br/>
                    <input type="date" id="deadline" formControlName="deadline">
                </label>
             <br/>
            <label for="reward">
               Reward:<br/>
               <input id="reward" type="number" formControlName="reward" />
            </label>
            <br/>
            <div class="bottom">
                <app-game-button type="submit" [label]="'Add new quest'"/>
            </div>
           </form>
    </div>
    

</div>