.container{
    display: flex;
    flex-direction: column;
    bottom: 60px;
}

.bottom{
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 100;
    left: 0;
}

.title{
    font-weight: bold;
}

label, input, textarea{
    width: 100%;
    font-weight: bold;
}

input, textarea{
    border-radius: 7px;
    border: 1px solid #dadada;
}

label{
    margin-top: 7px;
}

input{
    height: 40px;
}

.btn-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .btn-group .btn {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  
  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
    &:hover {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }
  }