<div class="container">
    <div>
        <h3 class="title">Target </h3>
        
        <h5>{{ quest.title }}</h5>
        
        <div>{{ quest.description }}</div>
        
        <div>time</div>
        
        <h3 class="title"> Participants</h3>
        
        <app-participants-set [images]="quest.participants"/>
        
        <h3 class="title">Rewards</h3>
        <div class="rewards">

            <app-reward-card [amount]="quest.reward" [device]="'mobile'" [color]="'gold'"/>
        </div>

    </div>
    <div class="bottom">
        <app-game-button [label]="'Complete quest'"/>
        <app-game-button [label]="'Give up quest'"/>
    
    </div>

</div>
