<div class="container">
    <div>
        
        <h3 class="title">Target </h3>
        
        <h5>{{ quest.title }}</h5>

        <button class="red-button but" (click) = "onClickShowTv()"> See on TV
            <img src="../../../../../assets/other/tvbroad.png" alt="">
        </button>

        
        
        <div>{{ quest.description }}</div>

        
        <div class="difficulty">
            <div >Difficulty</div>
            <div *ngFor="let i of [].constructor(quest.difficulty)">
                <img src="../../../../../assets/other/diff.png" />
            </div>

        </div>
        
        <h3 class="title"> Participants</h3>
        
        <app-participants-set [images]="quest.participants"/>
        
        <h3 class="title">Rewards</h3>
        <div class="rewards">

            <app-reward-card [amount]="quest.reward" [device]="'mobile'" [color]="'gold'"/>
        </div>

    </div>


    <div class="bottom" *ngIf="isAssign && !isComplete">
        <button class="but green-button" (click)="onCompleteButtonCLick()">Complete quest</button>
        <button class="but red-button" (click)="onFailButtonClick()">Fail quest</button>
    </div>
    <div class="bottom" *ngIf="!isAssign && !isComplete" (click) = "assignOnClick()">
        <button class="but green-button" >Assign quest</button>
    </div>
    <div class="bottom" *ngIf="isComplete">
    </div>


</div>
