$main100: #FBE2C5;
$main200: #CD9E7B;
$main300: #A9826C;
$main400: #8A644E;
$main500: #6F4D42;
$main600: #5E3A35;
$main700: #4B2E28;
$main800: #192947;
$main900: #181734;


$orange500: #F97316;
$orange700: #B45309;

$indigo500: #4F46E5;
$indigo800: #3730A3;

$slate300: #CBD5E1;
$slate600: #475569;

