
@import '../../../../global/theme/colors';

button{
    background-color: $main100;
    border: 5px solid $main700;
    padding: 1.5vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: $main700;
    img{
        width: 5vw;
    }
}