<div class="container">

    <h4 class="title">Today's quests</h4>
    <div class="questslist">
        <div *ngFor="let quest of quests">
        
            <app-quest-item [device]="'mobile'" [quest]="quest"/>
        </div>
    
    </div>
    <app-game-button
    [label]="'Add new quest'"
    [onButtonClick]="goToAdd"
    />
    <h4 class="title">Completed quests</h4>
    <div class="questslist">
        <div *ngFor="let quest of completed_quests">
        
            <app-quest-item [device]="'mobile'" [quest]="quest"/>
        </div>
    
    </div>
</div>