@import "../../../../global/theme/colors";

.container{
    border: solid 2px black;
    border-radius: 14px;
    background-color: #cd9e7b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    overflow: auto;

    >img{
        width: 10vw;
        max-width: inherit;
        max-height: inherit;
        padding: 1vw;
    }
    .price{
        width: 100%;
    }
}

.price{
    border-radius: 0px 0px 14px 14px;
    background-color: #8d6445;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    img{
        height: 32px;
        padding: 5px;
    }
}