@import '../../../global/theme/colors';

.header-container{
    background-color: $main600;
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    p{
        color: white;
    }
}