<div class="container">
    <div class="scroll_y_nobar details">
        <h2>Quest title here</h2>
        <h3>Target</h3>
        <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. 
            Turpis nunc gravida risus blandit. 
            Lorem duis scelerisque risus convallis 
            tempor velit dis. Lorem duis scelerisque r
            isus convallis tempor 
            velit dis. 
        </p>
        <div>Days</div>
        <div>Time day</div>

        <h3>Participants</h3>

        <h2 class="rewards-title">Rewards</h2>

        <div>Rewards</div>
    </div>
    


    <div class="buttons_container">
        <app-game-button class="btn" [label]="'Complete Quest'" [color]="'green'" [onButtonClick]="onButtonCLick">Complete</app-game-button>
        <app-game-button class="btn" [label]="'Fail Quest'" [color]="'red'" [onButtonClick]="onButtonCLick">Complete</app-game-button>
    </div>
</div>