<div class="container">
    <div class="scroll_y_nobar details">
        <h2>{{ quest.title }}</h2>
        <h3>Target</h3>
        <p>{{ quest.description }} 
        </p>
        <div class="dificulty">
            <div class="dif-text">
                Dificulty:
            </div>
            <div *ngFor="let i of [].constructor(quest.difficulty)">
                <img src="../../../../../assets/other/diff.png" />
            </div>
        </div>

        <h3>Participants</h3>
        <app-participants-set [images]="quest.participants"/>
        
        <h2 class="rewards">Rewards</h2>

        <div class="reward-wrap">
            <app-reward-card [amount]="quest.reward"/>
        </div>
    </div>
    



    <!-- <div class="buttons_container">
        <app-game-button class="btn" [label]="'Complete Quest'" [color]="'green'" [onButtonClick]="onButtonCLick">Complete</app-game-button>
        <app-game-button class="btn" [label]="'Fail Quest'" [color]="'red'" [onButtonClick]="onButtonCLick">Complete</app-game-button>
    </div> -->
</div>