
@import '../../../../global/theme/colors';

.container{
    width: 100%;
    border: solid 2px $main200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: $main100;
    padding: 2%;
    
    .left_side{
        font-weight: bold;
        padding: 5px 0px;

        .title{
            font-weight: bold;
            font-size: 5em;
        }
    }

    .rewards{
        display: flex;
        flex-direction: row;
        div{
            margin-left: 5px;
        }
    }
}

.participants{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    margin-top: 10px;
    img{
        aspect-ratio: 1 / 1;
        width: 32px;
        margin-right: 5px;
    }
} 
