/* participants-set.component.css */
.grid {
    display: flex;
    flex-direction: row;
   }
   
   .grid-item {
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
   }
   
   .grid-item img {
    width: 32px;
    height: auto;
   }